<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>报表</title>
</head>
<script>
	/*报表内容：
						1.各房间占用中央空调的时长
						2.各房间所消费的费用
						3.各房间开关次数
						4.各房间温度调节的次数
						5.各房间风速调节的次数
						6.各房间被调度的次数
		*/
</script>
<body>
	<input id="btnAddRow" type="button" value="增加表行数"/>
	<table id="testTbl" border=1>
		<tr id="tableTitle">		
			<td>房间编号</td>
			<td>占用中央空调的时长</td>
			<td>消费的费用</td>
			<td>开关次数</td>
			<td>温度调节次数</td>
			<td>风速调节次数</td>
			<td>房间被调度的次数</td>
		</tr>
		<tr id="tr1">
			<td>1111111</td>
			<td>1111111</td>
			<td>1111111</td>
			<td>1111111</td>
			<td>1111111</td>
			<td>1111111</td>
			<td>1111111</td>
		</tr>
	</table>	
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script>
	function addRow(roomID,time,cost,countOnOff,countChangeTemp,countChangeSpeed,countControl) {
		//添加一行
		var newTr = testTbl.insertRow();
		//添加七列
		var newTd0 = newTr.insertCell();
		var newTd1 = newTr.insertCell();
		var newTd2 = newTr.insertCell();
		var newTd3 = newTr.insertCell();
		var newTd4 = newTr.insertCell();
		var newTd5 = newTr.insertCell();
		var newTd6 = newTr.insertCell();
		//设置列内容和属性
		newTd0.innerText = roomID;
		newTd1.innerText= time;
		newTd2.innerText= cost;
		newTd3.innerText= countOnOff;
		newTd4.innerText= countChangeTemp;
		newTd5.innerText= countChangeSpeed;
		newTd6.innerText= countControl;
	}
	 $('#btnAddRow').click(function(){
	 	//addRow(roomID,time,cost,countOnOff,countChangeTemp,countChangeSpeed,countControl);
	 	addRow(1,1,1,1,1,1,1);
	 });
</script>
</html>