<html>
<head>
<title>分布式温控系统房间空调</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<script type="text/javascript" src="js/jquery.min.js"></script>

<font id="title" size="6" color="#ffffff"><pre>                  房间空调控制面板</pre></font> 
<body bgcolor="#666666" leftmargin="0" topmargin="0" marginwidth="300" marginheight="100" text-align:center>
<!-- Save for Web Slices (全蓝背景—切片1.psd) -->
<table id="__01" width="684" height="364" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<div style="background:url(images/room4_01.gif) no-repeat;width:683px;height:48px;text-align:center;vertical-align:middle;line-height:48px">
		        <b id="no">编号:</b>
				<b id="roomId" >305</b>
				<b>空调状态:</b>
				<b id="showState">待机</b>
			</div></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="48" alt=""></td>
	</tr>
	<tr>
		<td>
			<div style="background:url(images/room4_02.gif) no-repeat;width:153px;height:41px;text-align:center;vertical-align:middle;line-height:41px">
				<b id="currentTemp" >当前温度(度)</b>
			</div></td>
		<td>
			<div style="background:url(images/room4_03.gif) no-repeat;width:149px;height:41px;text-align:center;vertical-align:middle;line-height:41px">
				<b id="aimTemp" >目标温度(度)</b>
			</div></td>
		<td rowspan="3">
			<input id="btnUp" type="image" src="images/room4_04.gif" alt="" width="102" height="74"/></td>
		<td>
			<div style="background:url(images/room4_05.gif) no-repeat;width:172px;height:41px;text-align:center;vertical-align:middle;line-height:41px">
				<b id="speed" >风速</b>
			</div></td>
		<td rowspan="2">
			<input id="btnHigh" type="image" src="images/room4_06.gif" alt="" width="107" height="53" ></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="41" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<div style="background:url(images/room4_07.gif) no-repeat;width:153px;height:119px;text-align:center;vertical-align:middle;line-height:119px">
				<font id="showCurrentTemp" size="6">30</font>
			</div></td>
		<td rowspan="4">
			<div style="background:url(images/room4_08.gif) no-repeat;width:149px;height:119px;text-align:center;vertical-align:middle;line-height:119px">
				<font id="showAimTemp" size="6">26</font>
			</div></td>
		<td rowspan="4">
			<div style="background:url(images/room4_09.gif) no-repeat;width:172px;height:119px;text-align:center;vertical-align:middle;line-height:119px">
				<font id="showSpeed" size="6">中风</font>
			</div></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<input id="btnM" type="image" src="images/room4_10.gif" alt="" width="107" height="51"></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<input id="btnDown" type="image" src="images/room4_11.gif" alt="" width="102" height="86"></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="30" alt=""></td>
	</tr>
	<tr>
		<td>
			<input id="btnLow" type="image" src="images/room4_12.gif" alt="" width="107" height="56"></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<div style="background:url(images/room4_13.gif) no-repeat;width:153px;height:38px;text-align:center;vertical-align:middle;line-height:38px">
		        <b id="mode" >工作模式</b>
			</div></td>
		<td>
			<div style="background:url(images/room4_14.gif) no-repeat;width:149px;height:38px;text-align:center;vertical-align:middle;line-height:38px">
		        <b id="cost" >当前消费(元)</b>
			</div></td>
		<td rowspan="2">
			<input id="btnLook" type="image" src="images/room4_15.gif" alt="" width="102" height="156"></td>
		<td colspan="2" rowspan="2">
			<input id="btnOnOff" type="image" src="images/room4_16.gif" alt="" width="279" height="156"></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<div style="background:url(images/room4_17.gif) no-repeat;width:153px;height:118px;text-align:center;vertical-align:middle;line-height:118px">
				<font id="showMode" size="6">制冷</font>
			</div></td>
		<td>
			<div style="background:url(images/room4_18.gif) no-repeat;width:149px;height:118px;text-align:center;vertical-align:middle;line-height:118px">
				<font id="showCost" size="6">0.00</font>
			</div></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="118" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>


<script type="text/javascript">  
    var max_temp;  //调节温度的最大温度
    var min_temp;  //调节温度的最小温度
    var ROOM_ID = 305;
   // var current_temp = 26; //房间当前温度
    var host = "http://10.8.175.114:3000/room";  
    
    function toShowMode(mode) {
        if (mode == 0) {
        	return '制冷';
        }
        else if (mode == 1) {
        	return '制暖';
        }
    }
    function toShowState(state) {
    	if (state == 0) {
    		return '停机';
    	}
    	else if(state == 1) {
    		return '运行';
    	}
    	else if (state == 2) {
    		return '待机';
    	}
    }
    function toShowSpeed(speed) {
    	if (speed == 0) {
    		return '低风';
    	}
    	else if(speed == 1) {
    		return '中风';
    	}
    	else if (speed == 2) {
    		return '高风';
    	}
    }
    function toGetMode() {
    	var showmode = $('#showMode').text();
    	if (showmode == '制冷') {
        	return 0;
        }
        else if (showmode == '制暖') {
        	return 1;
        }
    }
    function toGetState() {
    	var showstate = $('#showState').text();
    	if (showstate == '停机') {
    		return 0;
    	}
    	else if(showstate == '运行') {
    		return 1;
    	}
    	else if (showstate == '待机') {
    		return 2;
    	}
    }
    function toGetSpeed() {
    	var showspeed = $('#showSpeed').text();
    	if (showspeed == '低风') {
    		return 0;
    	}
    	else if(showspeed == '中风') {
    		return 1;
    	}
    	else if (showspeed == '高风') {
    		return 2;
    	}
    }    
     //递归调用，当前温度变化显示
     function tempDo(temp){
     	var target = $('#showAimTemp').text();
     	if(Math.ads(temp - target) < 1) {
     		temp+=0.3;
			$('showCurrentTemp').text(temp);
    		setInterval('tempDo(temp)',1000);
     	}
     	else {           //温度差大于等于1度，发送请求
     		sendChangeTemp(target);
     	}	
    }
    //房间空调待机时温度变化
    function sacTempChange() {//？？？？？？？？？？？？？？？？？？？？？？？？？
        var temp = $('#showCurrentTemp').text();
        // while(toGetState() == 2){
       	tempDo(temp);
        //定时器，确定温度变化，待完善，看时间函数。。。。。。。。。。。
    }
    //发送温度请求
    function sendChangeTemp(temp) {
    	var data = {
    		method: 'set',
    		room_id: ROOM_ID,
    		target: temp
            //speed: s      //需要两个一起发吗
    	};
    	$.post(
            host+"/handshake",
            JSON.stringify(data),
            function(data, status){
            	alert(data);
            	var getData = JSON.parse(data);
            	//升温请求返回操作
            	//返回多个请求怎么操作？？？？？？？？？？？？？？？？？？？？？？？
            	if (getData.temp == $('#showCurrentTemp').text()) {
            		//进入待机，启动温度变化函数
            	}
            }
    		);
    }
    //发送风速请求
    function sendChangeSpeed(s){
    	var data = {
    		method: 'set',
    		room_id: ROOM_ID,
    		//target:temp;         //需要两个一起发吗
    		speed: s
    	};
    	$.post(
            host+"/handshake",
            JSON.stringify(data),
            function(data,status){
            	alert(data, status);
            	var getData = JSON.parse(data);
            	//风速请求返回操作
            	if (getData.result == 'ok') {   //返回的消息里面有result吗？？？？？？文档里没有
            		$('#showSpeed').text(toShowSpeed(s));
            	}
                //返回不成功，不做操作
            }
    		);
    }
    //点击开关按钮
	$('#btnOnOff').click(function(){
		var data = {
			method: 'handshake',
			room_id: ROOM_ID,
			//temp: parseInt($('#showCurrentTemp').text())
		};
		$.post(
				host+"/handshake",
				JSON.stringify(data),
				function(data, status){
					alert(data);
					var getData = JSON.parse(data);
					if(getData.result == 'ok'){
						min_temp = getData.min_temp;  //保存调节温度的最小温度
						max_temp = getData.max_temp;  //保存调节温度的最大值
						$('#showMode').text(toShowMode(getData.mode));//显示工作模式
						$('#showAimTemp').text(getData.temp); //显示缺省目标温度
						$('#showState').text(toShowState(getData.state));//显示房间空调状态
						var current_temp = $('#showCurrentTemp').text();
						if (getData.temp == current_temp) {
							//启动房间空调温度函数
						}
						else {
							//向中央空调发送温控请求
						}
					}
					else {
						alert("中央空调开机请求响应错误！");
					}
				}
			);
	});
     
    //点击风速（高）按钮
    $('#btnHigh').click(function(){
    	if (toGetState() != 0) {
    		var speed = toGetSpeed();
    		if(speed != 2){
    			sendChangeSpeed(speed);
    		}
    	}
    });

    //点击风速（中）按钮
    $('#btnM').click(function(){
    	if (toGetState() != 0) {
    		var speed = toGetSpeed();
    		if(speed != 1){
    			sendChangeSpeed(speed);
    		}
    	}	
    });

    //点击风速（低）按钮
	$('#btnLow').click(function(){
		if (toGetState() != 0) {
			var speed = toGetSpeed();
    		if(speed != 0){
    			sendChangeSpeed(speed);
    		}
		}		
	});

	//点击升温按钮
	$('#btnUp').click(function(){
        //1s内发送最后一次，超过1s发送多次，1s内的需要在本地显示目标温度的变化，只是请求最后一次
	});

	//点击降温按钮
	$('#btnDown').click(function(){

	});

	//点击查看当前消费金额按钮
	$('#btnLook').click(function(){
		if (toGetState() != 0) {
    		var data = {
            	method: look,
            	room_id: ROOM_ID
    		};
			$.post(
            	host+"/handshake",
					JSON.stringify(data),
					function(data, status) {
						alert(data);
						//返回信息判断，进行金额显示
					}
        		);
		}
	});

</script>
</html>